.formDiv{
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 10px;
    background-color: #f8f8f8;
    align-items: center;
    width: 500px;
    height: 300px;
    padding: 32px 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.12);
}

.data{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.text{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.errorText{
    color: #E11717;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.score {
    color: #0029FF;
}

.result{
    font-family: "Poppins", sans-serif;
    color: #1CC501;
    font-weight: bold;
    margin-left: 30%;
    margin-top: 15px;
}

.inputButtonDiv{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}



.inputButtonDiv input{
    width: 315px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    border: none;
    height: 36px;
    padding-left: 15px;
}
.inputButtonDiv input::placeholder{
    color: #B4B4B4;
    font-size: 14px;
    font-family: Poppins, sans-serif;
}


.check{
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #000;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

.login{
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}